{{#each this}}
  <li class="info__list">
    <div class='short__info__container'>
      <img class='info__img' src="{{flags.svg}}" alt=`{{name}}` width='30'
      height='15' />
      <h2>{{name}}</h2>
    </div>
  </li>  
{{/each}}